body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

.site-header {
  background-image: url('/assets/bg-light.svg');
  zoom: 121%;
  /* background-size: cover; */
  background-position: center;
  height: 135%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;

  padding-left: 15%;
  padding-right: 15%;
  padding-top: 1.5rem;
  font-weight: 600;
  font-size: 14px;
  height: 10px;
}

.nav-left {
}

.logo-name {
  height: 23px;
  width: 100px;
  display: block;
  transform: scale(0.8);
}

.nav-center {
  display: flex;
  gap: 10px;
  color: white;
}

.nav-center-child {
  /* outline: 2px solid; */
  outline-offset: 2px;
  border-radius: 9999px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border: transparent;
  font-weight: 500;
}

.nav-center-child:hover {
  cursor: pointer;
}

.nav-right {
  display: flex;
  gap: 1px;
  padding-block: 4.5px;
}

.nav-right-child {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 4.5px 12px;
  border-radius: 9999px;

  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 500;

  background-color: rgba(255, 255, 255, 0.6); /* glass */
  color: #0f172a;

  border: 1px solid rgba(255, 255, 255, 0.4);

  cursor: pointer;
  backdrop-filter: blur(8px);

  transition: background-color 0.1s ease;
}

.hero-content {
  display: flex;
  flex-direction: column;
  margin: 100px;
  padding-left: 15%;
  padding-right: 15%;

  justify-content: center;
  align-items: center;
  background-color: blue;
}

.hero-content h1 {
  font-size: 115%;
}

.image-div {
  width: 120%;
  margin: 0 auto;
}

.screenshot {
  width: 100%;
  height: auto;
  display: block;
}
