body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

.site-header {
  width: 100%;
  min-height: 100vh;
  background-image: url('/assets/bg-light.svg');
  background-size: cover;
  background-position: center;
}

.container {
  margin: 0 auto;
  /* padding: 0 24px; */
  /* background-color: green; */
}

.navbar {
  display: block;
  padding-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 66rem;
}

.nav-inner {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-inner-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 96px;
}

@media (min-width: 1080px) {
  .nav-inner-left {
    column-gap: 168px;
  }
}

.logo-name {
  height: 50px;
  width: 100px;
  display: block;
  transform: scale(0.8);
}

.nav-center {
  display: flex;
  gap: 10px;
  color: white;
}

.nav-center-child {
  /* outline: 2px solid; */
  outline-offset: 2px;
  border-radius: 9999px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border: transparent;
  font-weight: 500;
}

.nav-center-child:hover {
  cursor: pointer;
}

.nav-inner-right {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: fit-content;
  white-space: nowrap;
  padding: 4.5px 12px;
  border-radius: 9999px;
  font-weight: 500;
  font-size: 15px;
  gap: 6px;
  cursor: pointer;
  flex-shrink: 0;
  transition:
    color 0.1s,
    background-color 0.1s;
  border: 1px solid transparent;
}

@media (max-screen: 1023px) {
  .contact-button {
    display: none;
  }
}

.start-free-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  white-space: nowrap;
  padding: 4.5px 12px;
  border-radius: 9999px;
  font-weight: 500;
  font-size: 15px;
  gap: 6px;
  cursor: pointer;
  flex-shrink: 0;

  background-color: #fff;
  color: #000;
  border: 1px solid #000;

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transform: none;
}

.hero-wrapper {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.announcement-banner {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 4px 8px 4px 8px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);

  border-radius: 60px;
  text-decoration: none;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.2s;
}

.announcement-banner:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.banner-text {
  color: white;
  margin: 0;
  white-space: nowrap;
  font-weight: 500;
  line-height: 1.5;
  font-size: 12px;
}

.banner-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  color: white;
}

.badge-new {
  display: inline-flex;
  align-items: items;
  padding: 2px 8px;
  border-radius: 60px;
  text-transform: uppercase;

  background-color: var(--color-brand-light, #18e299);
  color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  font-weight: 500;
  line-height: 1.5;
  font-size: 10px;
}

@media (min-width: 640px) {
  .badge-new {
    font-size: 12px;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 104px 24px 72px 24px;
  text-align: center;
}

.hero-title {
  max-width: 43rem;
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 600;
  line-height: 1.15;
  color: #fff;
  text-wrap: balance;
}

.hero-sub {
  margin-top: 24px;
  max-width: 472px;
  font-size: 18px;
  line-height: 1.5;
  color: #9ca3af;
}

.hero-form {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px;
  width: 100%;
  max-width: 360px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blue(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
}

.hero-form input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding-left: 12px;
  font-size: 15px;
}

.image-showcase {
  max-width: 66rem;
  margin-left: auto;
  margin-right: auto;

  border-bottom: none;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  overflow: hidden;
}

.image-border img {
  width: 100%;
  height: auto;
  display: block;
}

.logo-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 90px 0px;
}

.logo-grid {
  display: grid;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  grid-template-columns: repeat(4, 250px);
}

.logo-item {
  /* height: 400px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}
.logo-item svg {
  height: 22px;
  fill: currentColor;
}

.feature-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 66rem;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.feature-intro {
  width: 100%;
  padding: 1.5rem; /* px-6 = 1.5rem, py-8 = 2rem */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem; /* gap-4 = 1rem */
}

/* .section-title {
  line-height: 110%;
  font-weight: var(--font-weight-semibold);
  letter-spacing: -0.02em;
  text-align: center;
  text-wrap: balance;
  font-weight: bold;
  font-size: max(1.75rem, min(4vw, 2.5rem));
} */

.feature-text {
  white-space: normal;
  overflow-wrap: break-word;
  text-align: center;
  max-width: 40.5rem;
  text-wrap: balance;
}

.feature-visuals {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
  /* background-color: #000; */
}

.feature-visuals-upper {
  display: flex;
  gap: 1.5rem;
}

.featOne,
.featTwo,
.featThree {
  border-radius: 1.5rem;
  border: 1px solid gray;
  /* var(--border-sub); */
  /* padding: 0.375rem; */
  flex: 1;
  min-width: 0;
}

.featOne-description,
.featTwo-description {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  /* gap: 1rem; */
}

.feat-description-headliner {
  color: var(
    --color-brand
  ); /* or lab(51.3415% -41.5657 15.3527) based on your variables */
  font-family: var(--font-geist-mono), monospace;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.featOne-description h3,
.featTwo-description h3 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.2px;
  color: var(--text-main);
}

.featOne-description-content,
.featTwo-description-content {
  color: var(--text-soft);
  font-size: 1rem;
  line-height: 1.5;
  text-wrap: balance;
  overflow-wrap: break-word;
}

.feat-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1rem;
}

.featThree-description {
  width: 100%;
  padding: 1.5rem; /* px-6 = 1.5rem, py-8 = 2rem */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem; /* gap-4 = 1rem */
}

.featThree h4 {
  font-size: 1.25rem; /* text-xl */
  text-align: center;
  font-weight: 500; /* font-medium */
  line-height: 1.3; /* leading-[130%] */
  letter-spacing: -0.2px; /* tracking-[-0.2px] */
  color: var(--text-main); /* text-text-main */
}

.enterprise {
  background-color: #f7f7f7;
  width: 100%;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.enterprise-inner {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  /* padding: 4.5rem; py-18 = 4.5rem */
}
.enterprise-inner-header {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding-bottom: 3rem;
}

.enterprise-inner-header-left {
  padding: 0;
  margin: 0;
  max-width: 40rem;
  /* gap: 1rem; */
  /* color: var(--color-brand);
  font-family: var(--font-geist-mono), monospace;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.6px; */
  /* text-transform: uppercase; */
}

.enterprise-inner-header-left h4 {
  text-transform: uppercase;
  font-family:
    Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 0.6px;
}

.enterprise-inner-header-left h3 {
  font-size: 40px;
  margin: 0;
  max-width: 28rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.enterprise-inner-feature {
  display: flex;
  padding-bottom: 3rem;
  gap: 3rem;
}

.enterprise-feature-card {
  font-size: 16px;
  line-height: 1.5;
  /* background-color: #fff; */
}

.enterprise-inner-feature-h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 600;
  letter-spacing: -0.2px;
  color: #1f2937;
}

.enterprise-banner-image-container {
  width: 100%;
}

.enterprise-banner-image {
  width: 100%;
  border-radius: 1.6rem;
}

.enterprise-companies {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* customer section */
.customers {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow: hidden;
}

.customers-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 66rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.customers-intro-headliner {
  text-align: center;
  font-size: 12px;
  font-family: monospace;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #6b7200;
}

.customers-intro-h2 {
  font-size: 40px;
  margin: 0;
}

.customers-intro p {
  text-align: center;

  font-size: 1rem;
  line-height: 1.5;
  max-width: 40rem;
}

.corousel-section {
  position: relative;
  width: 100%;
}

.corousel-content {
  overflow: visible;
}

.corousel-frame {
  display: flex;
  margin-left: -1rem;
}

.brand-section {
  min-width: 0;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 100%;
  padding-left: 1rem;
  max-width: 410px;
  background-color: yellow;
}

.brand-section-upper {
  width: 100%;
  border-radius: 0.75rem; /* rounded-2xl */
  overflow: hidden;
  position: relative;
}

.brand-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: hsla(0, 0%, 100%, 0.2);
}

.brand-section-lower {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cta-section {
  position: relative;
  width: 100%;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.cta-inner {
  max-width: 988px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-inner h3 {
  color: var(--text-main); /* assuming text-text-main uses a CSS variable */
  font-size: 40px;
  text-align: center;
  font-weight: 600; /* font-semibold */
  line-height: 110%;
  letter-spacing: -0.8px;
  max-width: 560px;
  margin: 0;
}

.cta-inner p {
  color: var(--text-main); /* text-text-main */
  font-size: 1rem; /* text-base */
  line-height: 150%; /* leading-[150%] */
  margin-top: 1rem; /* mt-4 */
  text-align: center;
  max-width: 560px;
  text-wrap: balance; /* text-balance */
}

.cta-primary-buttons-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 3rem;
}

.cta-primary-btn {
  display: inline-flex;
  align-items: center;
  outline-offset: 2px;
  height: fit-content;
  justify-content: center;
  cursor: pointer;
  gap: 0.375rem;
  white-space: nowrap;
  border-radius: 9999px;
  /* font-weight: 500; */
  /* transition-property: color, background-color; */
  transition-duration: 100ms;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  /* background-color: var(--background-invert); */
  color: var(--text-invert);
  /* border: 1px solid var(--background-invert); */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  font-size: 1rem;
  line-height: 150%;
  background-color: black;
  color: white;
  text-decoration: none;
}

.cta-primary-btn-2 {
  color: black;
  display: inline-flex;
  align-items: center;
  outline-offset: 2px;
  height: fit-content;
  justify-content: center;
  cursor: pointer;
  gap: 0.375rem;
  white-space: nowrap;
  border-radius: 9999px;
  /* font-weight: 500; */
  /* transition-property: color, background-color; */
  transition-duration: 100ms;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  /* background-color: var(--background-invert); */
  color: var(--text-invert);
  border: 1px solid gray;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  font-size: 1rem;
  line-height: 150%;
  /* background-color: black; */
  text-decoration: none;
}

.cta-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 0.5rem; */
}

.cta-secondary-buttons-container {
  display: flex;
  width: 100%;
  margin-top: 3.5rem;
  align-items: center;
  justify-content: center;
}

.cta-secondary-buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* justify-content: center; */
  gap: 2rem;
  padding: 2rem;
}

.cta-svg-container {
  border-radius: 20px;
  border: 1px solid rgb(197, 197, 197);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: fit-content;
}

.cta-svg-container svg {
  width: 36px;
  color: #0c8c5e;
}

.cta-description {
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.cta-description h4 {
  color: var(--text-main); /* text-text-main */
  font-size: 1.25rem; /* text-xl */
  text-align: center;
  font-weight: 500; /* font-medium */
  line-height: 130%; /* leading-[130%] */
  letter-spacing: -0.2px; /* tracking-[-0.2px] */
  margin: 0;
}

.cta-description p {
  margin: 0;
  color: var(--text-main); /* text-text-main */
  text-align: center; /* text-center */
  font-size: 1rem; /* text-base */
  line-height: 150%; /* leading-[150%] */
}

.cta-secondary-buttons a {
  text-decoration: none;
  color: #0c8c5e;
}

.footer {
  max-width: 66rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-left: 1px solid var(--border-surface);
  border-right: 1px solid var(--border-surface);
  overflow: hidden;
}

.footer-header {
  display: flex;
  justify-content: space-between;
}

.footer-header-socials {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.footer-links-section {
  display: flex;
}

.footer-links-section li {
  list-style-type: none;
}

.footer-links-section h3 {
  padding-left: 0.75rem; /* px-3 */
  padding-right: 0.75rem; /* px-3 */
  padding-top: 0.375rem; /* py-1.5 */
  padding-bottom: 0.375rem; /* py-1.5 */
  margin-bottom: 0.25rem; /* mb-1 */
  text-transform: uppercase;
  font-size: 13px; /* text-[13px] */
  line-height: 150%; /* leading-[150%] */
  letter-spacing: 0.65px; /* tracking-[0.65px] */
  font-weight: 500; /* font-medium */
  color: var(--text-muted); /* text-muted */
}

.credits {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
