body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

.site-header {
  padding-top: 4rem;
  width: 100%;
  min-height: 100vh;
  background-image: url('/assets/bg-light.svg');
  background-size: cover;
  background-position: center;
}

.container {
  margin: 0 auto;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  align-items: center;

  background: transparent;
  backdrop-filter: blur(12px);

  transition:
    background-color 0.2s ease,
    backdrop-filter 0.2s ease,
    border-color 0.2s ease,
    color 0.2s ease;
}

.nav-inner {
  max-width: 66rem;
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
}

.nav-inner-left {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 96px;
}

@media (min-width: 1080px) {
  .nav-inner-left {
    column-gap: 168px;
  }
}

.logo-name {
  width: 100px;
  /* display: block; */
  transform: scale(1);
}

.nav-center {
  display: flex;
  gap: 10px;
  color: white;
}

.nav-center-child {
  outline-offset: 2px;
  border-radius: 9999px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border: transparent;
  font-weight: 500;
  font-size: 15px;
}

.nav-center-child:hover {
  cursor: pointer;
}

.nav-inner-right {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: fit-content;
  white-space: nowrap;
  padding: 8px 12px;
  border-radius: 9999px;
  font-weight: 500;
  font-size: 15px;
  gap: 6px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.08);
  flex-shrink: 0;
  transition:
    color 0.1s,
    background-color 0.1s;
  border: 1px solid transparent;
}

.start-free-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  white-space: nowrap;
  padding: 8px 12px;
  border-radius: 9999px;
  font-weight: 500;
  font-size: 15px;
  gap: 6px;
  cursor: pointer;
  flex-shrink: 0;

  background-color: #fff;
  color: #000;
  border: none;

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transform: none;
}

.hero-wrapper {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.announcement-banner {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 4px 8px 4px 8px;
  background-color: #044868;
  backdrop-filter: blur(12px);

  border-radius: 60px;
  text-decoration: none;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.2s;
}

.announcement-banner:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.banner-text {
  color: white;
  margin: 0;
  white-space: nowrap;
  font-weight: 500;
  line-height: 1.5;
  font-size: 12px;
}

.banner-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  color: white;
}

.badge-new {
  display: inline-flex;
  align-items: items;
  padding: 2px 8px;
  border-radius: 60px;
  text-transform: uppercase;

  background-color: var(--color-brand-light, #0c8c5e);
  color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  font-weight: 500;
  line-height: 1.5;
  font-size: 10px;
}

@media (min-width: 640px) {
  .badge-new {
    font-size: 12px;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 104px 24px 72px 24px;
  text-align: center;
}

.hero-title {
  max-width: 43rem;
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 600;
  line-height: 1.15;
  color: #fff;
  text-wrap: balance;
}

.hero-sub {
  margin-top: 24px;
  max-width: 472px;
  font-size: 18px;
  line-height: 1.5;
  color: #f7f7f7;
}

.hero-form {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px;
  width: 100%;
  max-width: 360px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blue(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
}

.hero-form input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding-left: 12px;
  font-size: 15px;
}

.hero-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.image-showcase {
  max-width: 66rem;
  margin-left: auto;
  margin-right: auto;

  border-bottom: none;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  overflow: hidden;
}

.image-border img {
  width: 100%;
  height: auto;
  display: block;
}

.logo-section {
  max-width: 66rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 10px;
  justify-content: center;
  padding-bottom: 40px;
}

.logo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 70px;
  color: var(--color-black);
  width: 120px;
  background-color: #fff;
}

.feature-section {
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10rem;
}

.feature-intro {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.section-title {
  line-height: 110%;
  letter-spacing: -0.05em;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  line-height: 1.5;
  font-size: 40px;
  margin: 0;
}

.feature-text {
  white-space: normal;
  overflow-wrap: break-word;
  text-align: center;
  max-width: 40.5rem;
  text-wrap: balance;
  line-height: 1.5;
  margin: 0;
}

.feature-visuals {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.feature-visuals-upper {
  display: flex;
  gap: 1.5rem;
}

.featOne,
.featTwo,
.featThree {
  border-radius: 1.5rem;
  border: 1px solid #fee3e3;
  /* var(--border-sub); */
  padding: 0.375rem;
  flex: 1;
  min-width: 0;
  width: fit-content;
}

.featOne-description,
.featTwo-description {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}

.feat-description-headliner {
  color: #0c8c82;
  font-family: monospace;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin: 0;
}

.featOne-description h3,
.featTwo-description h3 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.2px;
  color: var(--text-main);
  margin: 0;
}

.featOne-description-content,
.featTwo-description-content {
  color: var(--text-soft);
  font-size: 1rem;
  line-height: 1.5;
  text-wrap: balance;
  overflow-wrap: break-word;
  margin: 0;
}

.feat-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1rem;
}

.featThree {
  padding: 1.5rem;
  align-items: center;
}

.featThree-description {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.featThree-description-headliner {
  align-items: center;
  color: #0c8c82;
}

.featThree h4 {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.2px;
  color: var(--text-main);
  margin: 0;
}

.featThree p {
  max-width: 40rem;
  text-align: center;
  line-height: 1.5;
  text-wrap: balance;
  margin: 0;
}

.enterprise {
  background-color: #f7f7f7;
  width: 100%;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.enterprise-inner {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}
.enterprise-inner-header {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding-bottom: 3rem;
}

.enterprise-inner-header-left {
  padding: 0;
  margin: 0;
  max-width: 40rem;
}

.enterprise-inner-header-left h4 {
  text-transform: uppercase;
  font-family:
    Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 0.6px;
}

.enterprise-inner-header-left h3 {
  font-size: 40px;
  margin: 0;
  max-width: 28rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.enterprise-inner-header-right {
  display: flex;
  align-items: end;
  padding-bottom: 1rem;
}

.enterprise-inner-header a {
  gap: 6px;
  height: fit-content;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 7px 24px;
  border-radius: 9999px;
  border: 1px solid transparent;
  background-color: var(--color-black);
  color: #f7f7f7;
  background-color: #000;
  text-decoration: none;
}

.enterprise-inner-feature {
  display: flex;
  padding-bottom: 3rem;
  gap: 3rem;
}

.enterprise-feature-card {
  font-size: 16px;
  line-height: 1.5;
}

.enterprise-inner-feature-h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 600;
  letter-spacing: -0.2px;
  color: #1f2937;
}

.enterprise-banner-image-container {
  width: 100%;
}

.enterprise-banner-image {
  width: 100%;
  border-radius: 1.6rem;
}

.enterprise-companies {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
  padding: 0px 24px;
}

.enterprise-companies,
.company-name img {
  filter: brightness(0) saturate(100%) invert(35%);
}

/* customer section */
.customers {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow: hidden;
}

.customers-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 66rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.customers-intro-headliner {
  text-align: center;
  font-size: 12px;
  font-family: monospace;
  font-weight: 500;
  line-height: 0.8;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #0c9073;
}

.customers-intro h2 {
  color: var(--text-main);
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.1px;
  margin: 0;
}

.customers-intro p {
  text-align: center;

  font-size: 1rem;
  line-height: 1.5;
  max-width: 40rem;
}

.corousel-section {
  position: relative;
  width: 100%;
}

.corousel-content {
  overflow: visible;
}

.corousel-frame {
  margin: 0px 200px;
  display: flex;
  gap: 0.3rem;
  max-width: 66rem;
  margin-left: auto;
  margin-right: auto;
}

.brand-section {
  min-width: 0;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 100%;
  padding-left: 1rem;
  max-width: 400px;
}

.brand-section-upper {
  background-size: 120% auto;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 400px;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.brand-image {
  filter: brightness(0) saturate(100%) invert(1);
  max-width: 10rem;
}

.brand-section-lower {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.brand-section-lower p {
  display: -webkit-box;
  -webkit-line-clamp: 2;

  -webkit-box-orient: vertical;
  overflow: hidden;

  line-height: 1.5;
  max-height: calc(1.5em * 2);
  color: #393a3b;
}

.read-story {
  color: #848585;
}

.read-story svg {
  width: 10px;
  rotate: -90deg;
}

.cta-section {
  position: relative;
  width: 100%;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.cta-inner {
  max-width: 988px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-inner h3 {
  color: var(--text-main);
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.8px;
  max-width: 560px;
  margin: 0;
}

.cta-inner p {
  color: var(--text-main);
  font-size: 1rem;
  line-height: 150%;
  margin-top: 1rem;
  text-align: center;
  max-width: 560px;
  text-wrap: balance;
}

.cta-primary-buttons-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 3rem;
}

.cta-primary-btn {
  display: inline-flex;
  align-items: center;
  outline-offset: 2px;
  height: fit-content;
  justify-content: center;
  cursor: pointer;
  gap: 0.375rem;
  white-space: nowrap;
  border-radius: 9999px;
  transition-duration: 100ms;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: var(--text-invert);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  font-size: 1rem;
  line-height: 150%;
  background-color: black;
  color: white;
  text-decoration: none;
}

.cta-primary-btn-2 {
  color: black;
  display: inline-flex;
  align-items: center;
  outline-offset: 2px;
  height: fit-content;
  justify-content: center;
  cursor: pointer;
  gap: 0.375rem;
  white-space: nowrap;
  border-radius: 9999px;
  transition-duration: 100ms;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: var(--text-invert);
  border: 1px solid gray;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  font-size: 1rem;
  line-height: 150%;
  text-decoration: none;
}

.cta-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-secondary-buttons-container {
  display: flex;
  width: 100%;
  margin-top: 3.5rem;
  align-items: center;
  justify-content: center;
}

.cta-secondary-buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 2rem;
}

.cta-svg-container {
  border-radius: 20px;
  border: 1px solid rgb(197, 197, 197);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: fit-content;
}

.cta-svg-container svg {
  width: 36px;
  color: #0c8c5e;
}

.cta-description {
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.cta-description h4 {
  color: var(--text-main);
  font-size: 1.25rem;
  text-align: center;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.2px;
  margin: 0;
}

.cta-description p {
  margin: 0;
  color: var(--text-main);
  text-align: center;
  font-size: 1rem;
  line-height: 150%;
}

.cta-secondary-buttons a {
  text-decoration: none;
  color: #0c8c5e;
}

.footer-section {
  width: 100%;
  background-color: var(--background-soft);
  border-top: 1px solid var(--border-surface);
}

.footer {
  max-width: 1022px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-left: 1px solid var(--border-surface);
  border-right: 1px solid var(--border-surface);
  overflow: hidden;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  position: relative;
  align-items: center;
}

.footer-header-socials {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.footer-links-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;
}

.links-section-child {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  margin-bottom: 0.25rem;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.65px;
  font-weight: 500;
  color: var(--text-muted);
  width: fit-content;
}

.links-section-child ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
}

.footer-links-section li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  outline-offset: 2px;
  height: fit-content;
  justify-content: center;
  cursor: pointer;
  gap: 0.375rem;
  white-space: nowrap;
  border-radius: 9999px;
  font-weight: 500;
  color: var(--text-main);
  border: 1px solid transparent;
  font-size: 0.875rem;
  line-height: 150%;
  padding: 0.375rem 0.75rem;
  transition:
    color 100ms,
    background-color 100ms;
}

.links-section-child h3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
  color: #18e299;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.65px;
  font-weight: 500;
  color: var(--text-muted);
}

.footer-certification {
  border-top: 1px solid var(--border-surface);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footer-certification p {
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
}

.footer-certification-logo-div {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  position: relative;
  isolation: isolate;
  transform: scale(1.25);
}

.footer-certification-logo {
  height: 100%;
  width: 100%;
}

.credits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.credits-child-1 a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.credits-child-1 svg {
  width: 20px;
  color: #18e299;
}

.credits-child-3 {
  display: flex;
  justify-content: flex-end;
}

.theme-toggle {
  display: flex;
  align-items: center;
  gap: 6px;

  padding: 6px 8px;
  border-radius: 9999px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.12);

  color: rgba(255, 255, 255, 0.7);
}

.theme-toggle button {
  width: 28px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: transparent;
  border-radius: 50%;
  color: black;

  cursor: pointer;
  color: inherit;

  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.theme-toggle button:hover {
  background: rgba(255, 255, 255, 0.12);
  color: white;
}

.theme-toggle svg {
  width: 16px;
  height: 16px;
}
